@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+SC:wght@300;400;500;600;700&display=swap");

a {
  font-family: Cormorant-SC;
}

/*Cormorant SC*/
.cormorant-sc-light {
  font-family: "Cormorant SC", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-sc-regular {
  font-family: "Cormorant SC", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-sc-medium {
  font-family: "Cormorant SC", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-sc-semibold {
  font-family: "Cormorant SC", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-sc-bold {
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-style: normal;
}

/* Cormorant Infant*/
.cormorant-infant-light {
  font-family: "Cormorant Infant", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-infant-light-italic {
  font-family: "Cormorant Infant", serif;
  font-weight: 300;
  font-style: italic;
}

.cormorant-infant-regular {
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-infant-regular-italic {
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-infant-medium {
  font-family: "Cormorant Infant", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-infant-medium-italic {
  font-family: "Cormorant Infant", serif;
  font-weight: 500;
  font-style: italic;
}

.cormorant-infant-semibold {
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-infant-semibold-italic {
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-style: italic;
}

.cormorant-infant-bold {
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-infant-bold-italic {
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  font-style: italic;
}
