---
import "../styles/global.css";
import Navbar from "../components/Navbar";
import Hero from "../components/Hero";
import Footer from "../components/Footer";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ed Sabhin Project Gallery</title>
  </head>
  <body
    class="h-[100vh] bg-gradient-to-tl
        from-stone-400 via-rose-900
        to-slate-900"
  >
    <Navbar />
    <Hero />
  </body>
  <script></script>
</html>
