---
import "../styles/global.css";

import CeeVee from "../components/CeeVee";
---

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Ed Sabhin CV</title>
  </head>
  <body>
    <main class="w-full flex justify-start">
      <div class="flex justify-start gap-8">
        <CeeVee />
      </div>
    </main>
    <script src="../utils/cee-vee.js"></script>
  </body>
</html>
