---
import "../styles/global.css";

import CeeVee from "../components/CeeVee";
import LinkButton from "../components/LinkButton";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ed Sabhin CV</title>
  </head>
  <body>
    <main class="w-full flex justify-start">
      <div class="flex justify-start gap-8">
        <!-- <div
          class="gradient-cv w-full flex flex-col z-10 pt-12 lg:pt-12 pl-12 lg:pl-12 pr-18 lg:pr-32 pb-18 lg:pb-32 lg:gap-7 rounded-br-full"
        >
          <LinkButton href="/" text="Go Back" />
          <LinkButton
            href=""
            download="/assets/images/cv.pdf"
            text="Download"
          />
        </div> -->
        <CeeVee />
      </div>
    </main>
  </body>
</html>
