---
import "../styles/global.css";

import Navbar from "../components/Navbar";
import LinkButton from "../components/LinkButton";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ed Sabhin CV</title>
  </head>
  <body>
    <main class="relative flex gap-20">
      <div
        class="gradient-cv flex flex-col pt-12 pb-32 pl-12 pr-32 gap-8 z-10 rounded-br-full"
      >
        <LinkButton href="/" text="Go Back" />
        <LinkButton href="" download="/assets/images/cv.pdf" text="Download" />
      </div>
      <img
        src="/assets/images/cv.webp"
        alt="CV Ed Sabhin"
        class="w-full absolute object-cover"
      />
    </main>
  </body>
</html>
