---
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ed Sabhin Project Gallery</title>
	</head>
	<body>
		<h1 class="">Ed Sabhin</h1>
		<h2 class="">Project Gallery</h2>
	</body>
</html>
