---
import "../styles/global.css";

import Navbar from "../components/Navbar";
import TitlesDisplay from "../components/TitlesDisplay";
import Slider from "../components/Slider";
import ArrowButton from "../components/ArrowButton";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ed Sabhin Project Gallery</title>
  </head>
  <body>
    <div class="carousel">
      <div class="list">
        <TitlesDisplay />
      </div>
      <div
        class="arrows"
      >
        <ArrowButton id="prev" direction="<" aria-label="Previous Slide" />
        <ArrowButton id="next" direction=">" aria-label="Next Slide" />
      </div>
      <Slider />
      <!-- running border effect -->
      <div class="time"></div>
    </div>
    <script src="../app.js"></script>
  </body>
</html>
