---
import "../styles/global.css";

import Navbar from "../components/Navbar";
import DisplayTwo from "../components/DisplayTwo";
import Slider from "../components/Slider";
import ArrowButton from "../components/ArrowButton";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ed Sabhin Project Gallery</title>
  </head>
  <body>
    <Navbar />
    <div class="carousel">
      <div class="list">
        <DisplayTwo />
      </div>
      <div
        class="w-[30%] lg:w-[10%] flex justify-center gap-6 lg:gap-6 absolute top-[63%] lg:top-[70%] left-[9.2%] lg:right-[60%] z-10"
      >
        <ArrowButton id="prev" direction="<" aria-label="Previous Slide" />
        <ArrowButton id="next" direction=">" aria-label="Next Slide" />
      </div>
      <Slider />
      <!-- running border effect -->
      <div class="time"></div>
    </div>
    <script src="../app.js"></script>
  </body>
</html>
