---
import "../styles/global.css";

import Navbar from "../components/Navbar";
import DisplayTwo from "../components/DisplayTwo";
import Slider from "../components/Slider";
import ArrowButton from "../components/ArrowButton";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ed Sabhin Project Gallery</title>
  </head>
  <body>
    <Navbar />

    <!-- carousel -->
    <div class="carousel">
      <!-- list item -->
      <div class="list">
        <DisplayTwo />
      </div>

      <!-- list thumbnail -->
      <Slider />

      <!-- next prev -->
      <div class="arrows">
        <ArrowButton id="prev" direction="<" aria-label="Previous Slide" />
        <ArrowButton id="next" direction=">" aria-label="Next Slide" />
      </div>

      <!-- time running -->
      <div class="time"></div>
    </div>

    <script src="../app.js"></script>
  </body>
</html>
