---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ed Sabhin Project Gallery</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<!-- <script src="../utils/loading-gallery.js"></script> -->
<script src="../utils/front-gallery.js"></script>
